{"swagger":"2.0","info":{"version":"v6","title":"MINDBODY Public API"},"host":"api.mindbodyonline.com","schemes":["https"],"paths":{"/public/v{version}/appointment/activesessiontimes":{"get":{"tags":["Appointment"],"summary":"Get active session times.","description":"This is not appointment availability but rather the active business hours for studios and which increments services can be booked at. See BookableItems for appointment availability.","operationId":"GetActiveSessionTimes","consumes":[],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"request.endTime","in":"query","description":"Filters results to times that end on or before this time on the current date. Any date provided is ignored..\r\n<br />Default: **23:59:59**","required":false,"type":"string","format":"date-time"},{"name":"request.limit","in":"query","description":"Number of results to include, defaults to 100","required":false,"type":"integer","format":"int32"},{"name":"request.offset","in":"query","description":"Page offset, defaults to 0.","required":false,"type":"integer","format":"int32"},{"name":"request.scheduleType","in":"query","description":"Filters on the provided the schedule type. Either `SessionTypeIds` or `ScheduleType` must be provided.","required":false,"type":"string","enum":["All","Class","Enrollment","Appointment","Resource","Media","Arrival"]},{"name":"request.sessionTypeIds","in":"query","description":"Filters on the provided session type IDs. Either `SessionTypeIds` or `ScheduleType` must be provided.","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"request.startTime","in":"query","description":"Filters results to times that start on or after this time on the current date. Any date provided is ignored.\r\n<br />Default: **00:00:00**","required":false,"type":"string","format":"date-time"},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.AppointmentController.GetActiveSessionTimesResponse"}}}}},"/public/v{version}/appointment/addons":{"get":{"tags":["Appointment"],"summary":"Get add ons","description":"Get active appointment add-ons.","operationId":"GetAddOns","consumes":[],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"request.limit","in":"query","description":"Number of results to include, defaults to 100","required":false,"type":"integer","format":"int32"},{"name":"request.offset","in":"query","description":"Page offset, defaults to 0.","required":false,"type":"integer","format":"int32"},{"name":"request.staffId","in":"query","description":"Filter to add-ons only performed by this staff member.","required":false,"type":"integer","format":"int32"},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.AppointmentController.GetAddOnsResponse"}}}}},"/public/v{version}/appointment/appointmentoptions":{"get":{"tags":["Appointment"],"summary":"Get appointment-related settings.","description":"This endpoint has no query parameters.","operationId":"GetAppointmentOptions","consumes":[],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.AppointmentController.GetAppointmentOptionsResponse"}}}}},"/public/v{version}/appointment/availabledates":{"get":{"tags":["Appointment"],"summary":"Get dates where there is scheduled appointment availability for the given session types.","description":"Returns a list of dates to narrow down staff availability when booking. Dates are those which staff are scheduled to work and do not guarantee booking availabilities. After this call is made, use GET BookableItems to retrieve availabilities for specific dates before booking.","operationId":"GetAvailableDates","consumes":[],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"request.endDate","in":"query","description":"The end date of the requested date range. \r\n<br />Default: **StartDate**","required":false,"type":"string","format":"date-time"},{"name":"request.locationId","in":"query","description":"optional requested location ID.","required":false,"type":"integer","format":"int32"},{"name":"request.staffId","in":"query","description":"optional requested staff ID.","required":false,"type":"integer","format":"int64"},{"name":"request.startDate","in":"query","description":"The start date of the requested date range. If omitted, the default is used.\r\n<br />Default: **today’s date**","required":false,"type":"string","format":"date-time"},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"request.sessionTypeId","in":"query","description":"required requested session type ID.","required":true,"type":"integer","format":"int32"},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.AppointmentController.GetAvailableDatesResponse"}}}}},"/public/v{version}/appointment/bookableitems":{"get":{"tags":["Appointment"],"summary":"Get staff appointment availability.","description":"Returns a list of availabilities with the information needed to book appointments. Availabilities include information such as the location and its amenities, staff members, programs, and session types. Recommended to use with GET AvailableDates to see what dates the staff is scheduled to work and narrow down the dates searched. Recommended to use with GET ActiveSessionTimes to see which increments each business allows for booking appointments.\r\nNotes: \r\n- With a wider range of dates, this call may take longer to return results. \r\n- With a higher number of request.sessionTypeIds, this call may take longer to return results.","operationId":"GetBookableItems","consumes":[],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"request.appointmentId","in":"query","description":"If provided, filters out the appointment with this ID.","required":false,"type":"integer","format":"int64"},{"name":"request.endDate","in":"query","description":"The end date of the requested date range. \r\n<br />Default: **StartDate**","required":false,"type":"string","format":"date-time"},{"name":"request.ignoreDefaultSessionLength","in":"query","description":"When `true`, availabilities that are non-default return, for example, a 30-minute availability with a 60-minute default session length.<br />\r\nWhen `false`, only availabilities that have the default session length return.","required":false,"type":"boolean"},{"name":"request.includeResourceAvailability","in":"query","description":"When `true`, resource availabilities for the session type are returned.<br />\r\nWhen `false`, resource availabilities are not returned default.","required":false,"type":"boolean"},{"name":"request.limit","in":"query","description":"Number of results to include, defaults to 100","required":false,"type":"integer","format":"int32"},{"name":"request.locationIds","in":"query","description":"A list of the requested location IDs.","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"request.offset","in":"query","description":"Page offset, defaults to 0.","required":false,"type":"integer","format":"int32"},{"name":"request.staffIds","in":"query","description":"A list of the requested staff IDs. Omit parameter to return all staff availabilities.","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"request.startDate","in":"query","description":"The start date of the requested date range. \r\n<br />Default: **today’s date**","required":false,"type":"string","format":"date-time"},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"request.sessionTypeIds","in":"query","description":"A list of the requested session type IDs.","required":true,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.AppointmentController.GetBookableItemsResponse"}}}}},"/public/v{version}/appointment/scheduleitems":{"get":{"tags":["Appointment"],"summary":"Get appointment schedule.","description":"Returns a list of schedule items, including appointments, availabilities, and unavailabilities. Unavailabilities are the times at which appointments cannot be booked, for example, on holidays or after hours when the business is closed.","operationId":"GetScheduleItems","consumes":[],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"request.endDate","in":"query","description":"The end date of the requested date range. \r\n<br />Default: **today’s date**","required":false,"type":"string","format":"date-time"},{"name":"request.ignorePrepFinishTimes","in":"query","description":"When `true`, appointment preparation and finish unavailabilities are not returned. \r\n<br />Default: **false**","required":false,"type":"boolean"},{"name":"request.limit","in":"query","description":"Number of results to include, defaults to 100","required":false,"type":"integer","format":"int32"},{"name":"request.locationIds","in":"query","description":"A list of requested location IDs.","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"request.offset","in":"query","description":"Page offset, defaults to 0.","required":false,"type":"integer","format":"int32"},{"name":"request.staffIds","in":"query","description":"A list of requested staff IDs.","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"request.startDate","in":"query","description":"The start date of the requested date range. \r\n<br />Default: **today’s date**","required":false,"type":"string","format":"date-time"},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.AppointmentController.GetScheduleItemsResponse"}}}}},"/public/v{version}/appointment/staffappointments":{"get":{"tags":["Appointment"],"summary":"Get appointments grouped by staff member.","description":"Returns a list of appointments by staff member.","operationId":"GetStaffAppointments","consumes":[],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"request.appointmentIds","in":"query","description":"A list of the requested appointment IDs.","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"request.clientId","in":"query","description":"The client ID to be returned.","required":false,"type":"string"},{"name":"request.endDate","in":"query","description":"The end date of the requested date range. \r\n<br />Default: **StartDate**","required":false,"type":"string","format":"date-time"},{"name":"request.limit","in":"query","description":"Number of results to include, defaults to 100","required":false,"type":"integer","format":"int32"},{"name":"request.locationIds","in":"query","description":"A list of the requested location IDs.","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"request.offset","in":"query","description":"Page offset, defaults to 0.","required":false,"type":"integer","format":"int32"},{"name":"request.staffIds","in":"query","description":"List of staff IDs to be returned. Omit parameter to return staff appointments for all staff.","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"request.startDate","in":"query","description":"The start date of the requested date range. If omitted, the default is used. \r\n<br />Default: **today's date**","required":false,"type":"string","format":"date-time"},{"name":"request.useSiteSettingsStaffName","in":"query","description":"When `true`, the staff DisplayName will be populated based on site-level settings.\r\nWhen `false` or omitted, the staff DisplayName will contain only the FirstName.","required":false,"type":"boolean"},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.AppointmentController.GetStaffAppointmentsResponse"}}}}},"/public/v{version}/appointment/unavailabilities":{"get":{"tags":["Appointment"],"summary":"Returns a list of unavailabilities. Unavailabilities are the times at which appointments cannot be booked, for example, on holidays or after hours when the business is closed.","operationId":"GetUnavailabilities","consumes":[],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"request.endDate","in":"query","description":"The end date of the requested date range. \r\n<br />Default: **today’s date**","required":false,"type":"string","format":"date-time"},{"name":"request.limit","in":"query","description":"Number of results to include, defaults to 100","required":false,"type":"integer","format":"int32"},{"name":"request.offset","in":"query","description":"Page offset, defaults to 0.","required":false,"type":"integer","format":"int32"},{"name":"request.staffIds","in":"query","description":"A list of requested staff IDs.","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"request.startDate","in":"query","description":"The start date of the requested date range. \r\n<br />Default: **today’s date**","required":false,"type":"string","format":"date-time"},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.AppointmentController.GetUnavailabilitiesResponse"}}}}},"/public/v{version}/appointment/addappointment":{"post":{"tags":["Appointment"],"summary":"Book a new appointment.","description":"A user token is required for this endpoint. To book an appointment, you must use a location ID, staff ID, client ID, session type ID, and the StartDateTime of the appointment. You can get most of this information using GET BookableItems.\r\n\r\nNote: Request deduplication is enabled for this endpoint. More information can be found in the [Request Deduplication Page](https://developers.mindbodyonline.com/ui/documentation/public-api#/net-standard-library/mindbody-public-api-v6-0/request-deduplication).\r\nUse the `X-RequestDeduplication-Skip` header to bypass deduplication if necessary. This may be useful in scenarios where you want to ensure a new appointment is created regardless of previous identical requests.","operationId":"AddAppointment","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.AppointmentController.AddAppointmentRequest"}},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.AppointmentController.AddAppointmentResponse"}}}}},"/public/v{version}/appointment/addappointmentaddon":{"post":{"tags":["Appointment"],"summary":"Add Appointment Add-On","description":"This endpoint books an add-on on top of an existing, regular appointment. To book an add-on, you must use an existing appointment ID and session type ID. You can get a session type ID using `GET AppointmentAddOns`.","operationId":"AddAppointmentAddOn","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.AppointmentController.AddAppointmentAddOnRequest"}},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.AppointmentController.AddAppointmentAddOnResponse"}}}}},"/public/v{version}/appointment/addmultipleappointments":{"post":{"tags":["Appointment"],"summary":"Book multiple appointments (deprecated).","description":"This route has been deprecated and is no longer available for use. Please switch to the AddAppointment endpoint, which is the supported method for booking individual appointments","operationId":"Add Multiple Appointments","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.AppointmentController.AddMultipleAppointmentsRequest"}},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.AppointmentController.AddMultipleAppointmentsResponse"}}},"deprecated":true}},"/public/v{version}/appointment/availabilities":{"put":{"tags":["Appointment"],"summary":"Update availability/unavailability of the staff","description":"To update the information for a specific availability or unavailability of the staff.<br />\r\nNote: You must have a staff user token with the required permissions.","operationId":"UpdateAvailability","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"updateAvailabilityRequest","in":"body","required":true,"schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.AppointmentController.UpdateAvailabilityRequest"}},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.AppointmentController.UpdateAvailabilityResponse"}}}},"post":{"tags":["Appointment"],"summary":"Add Availabillity/Unavailabillity.","description":"Add availabilities and unavailabilities for a staff member.<br />\r\nNote: You must have a staff user token with the required permissions.","operationId":"AddAvailabilities","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.AppointmentController.AddAvailabilitiesRequest"}},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.AppointmentController.AddAvailabilitiesResponse"}}}}},"/public/v{version}/appointment/updateappointment":{"post":{"tags":["Appointment"],"summary":"Update an existing appointment.","description":"To update the information for a specific appointment, you must have a staff user token with the proper permissions. Note that you can only update the appointment’s `StartDateTime`, `EndDateTime`, `StaffId`, `Notes`, and `SessionTypeId`.","operationId":"UpdateAppointment","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.AppointmentController.UpdateAppointmentRequest"}},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.AppointmentController.UpdateAppointmentResponse"}}}}},"/public/v{version}/appointment/appointmentfromwaitlist":{"delete":{"tags":["Appointment"],"summary":"Remove an appointment from waitlist","operationId":"RemoveFromWaitlist","consumes":[],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"request.waitlistEntryIds","in":"query","description":"A list of `WaitlistEntryIds` to remove from the waiting list.","required":true,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"204":{"description":"This endpoint does not return a response. If a call to this endpoint results in a 204 No Content HTTP status code, then the call was successful."}}}},"/public/v{version}/appointment/availability":{"delete":{"tags":["Appointment"],"summary":"Delete availability/unavailability of the staff","description":"This endpoint deletes the availability or unavailability.\r\nNote: You must have a staff user token with the required permissions.","operationId":"DeleteAvailability","consumes":[],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"deleteAvailabilityRequest.availabilityId","in":"query","description":"The ID of the availability or unavailability.","required":false,"type":"integer","format":"int32"},{"name":"deleteAvailabilityRequest.test","in":"query","description":"When `true`, indicates that this is a test request and no data is deleted from the subscriber’s database.\r\nWhen `false`, the record will be deleted.\r\nDefault: **false**","required":false,"type":"boolean"},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"204":{"description":"This endpoint does not return a response. If a call to this endpoint results in a 204 NoContent HTTP status code, then the call was successful."}}}},"/public/v{version}/appointment/deleteappointmentaddon":{"delete":{"tags":["Appointment"],"summary":"Early Cancel/Remove an Appointment Add-On","description":"This endpoint can be used to early-cancel a booked appointment add-on.","operationId":"DeleteAppointmentAddOn","consumes":[],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"id","in":"query","required":true,"type":"integer","format":"int64"},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"204":{"description":"This endpoint does not return a response. If a call to this endpoint results in a 204 No Content HTTP status code, then the call was successful."}}}},"/public/v{version}/class/classdescriptions":{"get":{"tags":["Class"],"summary":"Get class descriptions.","description":"To find class descriptions associated with **scheduled classes**, pass `StaffId`, `StartClassDateTime`, `EndClassDateTime`, or `LocationId` in the request.","operationId":"GetClassDescriptions","consumes":[],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"request.classDescriptionId","in":"query","description":"The ID of the requested client.","required":false,"type":"integer","format":"int32"},{"name":"request.endClassDateTime","in":"query","description":"Filters the results to class descriptions for scheduled classes that happen before the given date and time.","required":false,"type":"string","format":"date-time"},{"name":"request.includeInactive","in":"query","description":"Includes inactive class descriptions, defaulting to true. When set to false, it filters out inactive class descriptions.","required":false,"type":"boolean"},{"name":"request.limit","in":"query","description":"Number of results to include, defaults to 100","required":false,"type":"integer","format":"int32"},{"name":"request.locationId","in":"query","description":"Filters results to classes descriptions for schedule classes as the given location.","required":false,"type":"integer","format":"int32"},{"name":"request.offset","in":"query","description":"Page offset, defaults to 0.","required":false,"type":"integer","format":"int32"},{"name":"request.programIds","in":"query","description":"A list of requested program IDs.","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"request.staffId","in":"query","description":"Filters results to class descriptions for scheduled classes taught by the given staff member.","required":false,"type":"integer","format":"int64"},{"name":"request.startClassDateTime","in":"query","description":"Filters the results to class descriptions for scheduled classes that happen on or after the given date and time.","required":false,"type":"string","format":"date-time"},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.ClassController.GetClassDescriptionsResponse"}}}}},"/public/v{version}/class/classes":{"get":{"tags":["Class"],"summary":"Get scheduled classes.","operationId":"GetClasses","consumes":[],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"request.classDescriptionIds","in":"query","description":"The requested class description IDs.","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"request.classIds","in":"query","description":"The requested class IDs.","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"request.classScheduleIds","in":"query","description":"The requested classSchedule Ids.","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"request.clientId","in":"query","description":"The client ID of the client who is viewing this class list. Based on identity, the client may be able to see additional information, such as membership specials.","required":false,"type":"string"},{"name":"request.endDateTime","in":"query","description":"The requested end date for filtering.\r\nNOTE: ClassDate does not take Class Time into consideration.\r\n<br />Default: **today’s date**","required":false,"type":"string","format":"date-time"},{"name":"request.hideCanceledClasses","in":"query","description":"When `true`, canceled classes are removed from the response.<br />\r\nWhen `false`, canceled classes are included in the response.<br />\r\nDefault: **false**","required":false,"type":"boolean"},{"name":"request.lastModifiedDate","in":"query","description":"When included in the request, only records modified on or after the `LastModifiedDate` specified are included in the response.","required":false,"type":"string","format":"date-time"},{"name":"request.limit","in":"query","description":"Number of results to include, defaults to 100","required":false,"type":"integer","format":"int32"},{"name":"request.locationIds","in":"query","description":"A list of location IDs on which to base the search.","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"request.offset","in":"query","description":"Page offset, defaults to 0.","required":false,"type":"integer","format":"int32"},{"name":"request.programIds","in":"query","description":"A list of program IDs on which to base the search.","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"request.schedulingWindow","in":"query","description":"When `true`, classes outside scheduling window are removed from the response.<br />\r\nWhen `false`, classes are included in the response, regardless of the scheduling window.<br />\r\nDefault: **false**","required":false,"type":"boolean"},{"name":"request.semesterIds","in":"query","description":"A list of semester IDs on which to base the search.","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"request.sessionTypeIds","in":"query","description":"A list of session type IDs on which to base the search.","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"request.staffIds","in":"query","description":"The requested IDs of the teaching staff members.","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"request.startDateTime","in":"query","description":"The requested start date for filtering. This also determines what you will see for the ‘BookingWindow’ StartDateTime in the response. For example, if you pass a StartDateTime that is on OR before the BookingWindow ‘Open’ days of the class, you will retrieve the actual ‘StartDateTime’ for the Booking Window. If you pass a StartDateTime that is after the BookingWindow ‘date’, then you will receive results based on that start date.\r\nNOTE: ClassDate does not take Class Time into consideration.","required":false,"type":"string","format":"date-time"},{"name":"request.uniqueClientId","in":"query","description":"The unique ID of the client who is viewing this class list. Based on identity, the client may be able to see additional information, such as membership specials.\r\nNote: you need to provide the 'UniqueClientId' OR the 'ClientId'. If both are provided, the 'UniqueClientId' takes precedence.","required":false,"type":"integer","format":"int64"},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.ClassController.GetClassesResponse"}}}}},"/public/v{version}/class/classschedules":{"get":{"tags":["Class"],"summary":"Get class schedules.","description":"Get class schedules.","operationId":"GetClassSchedules","consumes":[],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"request.classScheduleIds","in":"query","description":"The class schedule IDs.\r\n<br />Default: **all**","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"request.endDate","in":"query","description":"The end date of the range. Return any active enrollments that occur on or before this day.\r\n<br />Default: **StartDate**","required":false,"type":"string","format":"date-time"},{"name":"request.limit","in":"query","description":"Number of results to include, defaults to 100","required":false,"type":"integer","format":"int32"},{"name":"request.locationIds","in":"query","description":"The location IDs. \r\n<br />Default: **all**","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"request.offset","in":"query","description":"Page offset, defaults to 0.","required":false,"type":"integer","format":"int32"},{"name":"request.programIds","in":"query","description":"The program IDs. \r\n<br />Default: **all**","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"request.sessionTypeIds","in":"query","description":"The session type IDs. \r\n<br />Default: **all**","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"request.staffIds","in":"query","description":"The staff IDs. \r\n<br />Default: **all**","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"request.startDate","in":"query","description":"The start date of the range. Return any active enrollments that occur on or after this day.\r\n<br />Default: **today’s date**","required":false,"type":"string","format":"date-time"},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.ClassController.GetClassSchedulesResponse"}}}}},"/public/v{version}/class/classvisits":{"get":{"tags":["Class"],"summary":"Get information about clients booked in a class.","description":"Returns a list of visits that contain information for a specified class. On success, this request returns the class object in the response with a list of visits.\r\nIf an invalid date is provided through the attribute LastModifiedDate the attribute will default to null","operationId":"GetClassVisits","consumes":[],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"request.lastModifiedDate","in":"query","description":"When included in the request, only records modified on or after the `LastModifiedDate` specified are included in the response.","required":false,"type":"string","format":"date-time"},{"name":"request.useSiteSettingsStaffName","in":"query","description":"When `true`, the staff DisplayName will be populated based on site-level settings.\r\nWhen `false` or omitted, the staff DisplayName will contain only the FirstName.","required":false,"type":"boolean"},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"request.classID","in":"query","description":"The class ID.","required":true,"type":"integer","format":"int64"},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.ClassController.GetClassVisitsResponse"}}}}},"/public/v{version}/class/courses":{"get":{"tags":["Class"],"summary":"Fetch the list of the course for a studio","description":"This endpoint will provide all the data related to courses depending on the access level.<br />\r\nNote: The Authorization is an optional header.If Authorization header is not passed, the response will be masked else full response will be provided.","operationId":"GetCourses","consumes":[],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"getCoursesRequest.courseIDs","in":"query","description":"Return only courses that are available for the specified CourseIds.","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"getCoursesRequest.endDate","in":"query","description":"The end date range. Any active courses that are on or before this day.\r\n<br />(optional) Defaults to StartDate.","required":false,"type":"string","format":"date-time"},{"name":"getCoursesRequest.limit","in":"query","description":"Number of results to include, defaults to 100","required":false,"type":"integer","format":"int32"},{"name":"getCoursesRequest.locationIDs","in":"query","description":"Return only courses that are available for the specified LocationIds.","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"getCoursesRequest.offset","in":"query","description":"Page offset, defaults to 0.","required":false,"type":"integer","format":"int32"},{"name":"getCoursesRequest.programIDs","in":"query","description":"Return only courses that are available for the specified ProgramIds.","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"getCoursesRequest.semesterIDs","in":"query","description":"Return only courses that are available for the specified SemesterIds.","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"getCoursesRequest.staffIDs","in":"query","description":"Return only courses that are available for the specified StaffIds.","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"getCoursesRequest.startDate","in":"query","description":"The start date range. Any active courses that are on or after this day.\r\n<br />(optional) Defaults to today.","required":false,"type":"string","format":"date-time"},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.ClassController.GetCoursesReponse"}}}}},"/public/v{version}/class/semesters":{"get":{"tags":["Class"],"summary":"Fetch the list of the Semesters","description":"This endpoint retrieves the business class semesters.","operationId":"GetSemesters","consumes":[],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"request.active","in":"query","description":"When true, the response only contains semesters which are activated. When false, only deactivated semesters are returned.\r\nDefault: **All semesters**","required":false,"type":"boolean"},{"name":"request.endDate","in":"query","description":"The end date for the range. All semesters that are on or before this day.\r\nDefault: **StartDate**","required":false,"type":"string","format":"date-time"},{"name":"request.limit","in":"query","description":"Number of results to include, defaults to 100","required":false,"type":"integer","format":"int32"},{"name":"request.offset","in":"query","description":"Page offset, defaults to 0.","required":false,"type":"integer","format":"int32"},{"name":"request.semesterIDs","in":"query","description":"The requested semester IDs.","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"request.startDate","in":"query","description":"The start date for the range. All semesters that are on or after this day.\r\nDefault: **today’s date**","required":false,"type":"string","format":"date-time"},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.ClassController.GetSemestersResponse"}}}}},"/public/v{version}/class/waitlistentries":{"get":{"tags":["Class"],"summary":"Get waiting list entries.","description":"Returns a list of waiting list entries for a specified class schedule or class. The request requires staff credentials and either a class schedule ID or class ID.","operationId":"GetWaitlistEntries","consumes":[],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"request.classIds","in":"query","description":"The requested class IDs. If a class ID is present, the request automatically disregards any class schedule IDs in the request. <br />\r\nEither `ClassScheduleIds`, `ClientIds`, `WaitlistEntryIds`, or `ClassIds` is required; the others become optional.<br />\r\nDefault: **all ClassIds**","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"request.classScheduleIds","in":"query","description":"The requested class schedule IDs. If a class ID is present, the request automatically disregards any class schedule IDs in the request.<br />\r\nEither `ClassScheduleIds`, `ClientIds`, `WaitlistEntryIds`, or `ClassIds` is required; the others become optional.<br />\r\nDefault: **all ClassScheduleIds**","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"request.clientIds","in":"query","description":"The requested client IDs.<br />\r\nEither `ClassScheduleIds`, `ClientIds`, `WaitlistEntryIds`, or `ClassIds` is required; the others become optional.<br />\r\nDefault: **all ClientIds**","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"request.hidePastEntries","in":"query","description":"When `true`, indicates that past waiting list entries are hidden from clients.<br />\r\nWhen `false`, indicates that past entries are not hidden from clients.<br />\r\nDefault: **false**","required":false,"type":"boolean"},{"name":"request.limit","in":"query","description":"Number of results to include, defaults to 100","required":false,"type":"integer","format":"int32"},{"name":"request.offset","in":"query","description":"Page offset, defaults to 0.","required":false,"type":"integer","format":"int32"},{"name":"request.waitlistEntryIds","in":"query","description":"The requested waiting list entry IDs.<br />\r\nEither `ClassScheduleIds`, `ClientIds`, `WaitlistEntryIds`, or `ClassIds` is required; the others become optional.<br />\r\nDefault: **all WaitlistEntryIds**","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.ClassController.GetWaitlistEntriesResponse"}}}}},"/public/v{version}/class/addclassschedule":{"post":{"tags":["Class"],"summary":"This endpoint adds a class schedule. For a single day schedule, the EndDate parameter can be omitted.","operationId":"AddClassSchedule","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.AddClassEnrollmentScheduleRequest"}},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Data.Models.WrittenClassSchedulesInfo"}}}}},"/public/v{version}/class/addclienttoclass":{"post":{"tags":["Class"],"summary":"Book a client into a class.","description":"This endpoint adds a client to a class or to a class waiting list. To prevent overbooking a class or booking outside the schedule windows set forth by the business, it is necessary to first check the capacity level of the class (‘MaxCapacity’ and 'TotalBooked’) and the 'IsAvailable’ parameter by running the GetClasses REQUEST. It is helpful to use this endpoint in the following situations:\r\n* Use after calling `GET Clients` and `GET Classes` so that you are sure which client to book in which class.\r\n* If adding a client to a class from a waiting list, use this call after you call `GET WaitlistEntries` and determine the ID of the waiting list from which you are moving the client.\r\n* If adding a client to a class and using a pricing option that the client has already purchased, use this call after you call `GET ClientServices` to determine the ID of the pricing option that the client wants to use.\r\n\r\nIf you add a client to a class and the client purchases a new pricing option, use `GET Services`, `GET Classes`, and then `POST CheckoutShoppingCart` in place of this call.\r\n\r\nThis endpoint also supports cross-regional class bookings. If you want to perform a cross-regional class booking, set `CrossRegionalBooking` to `true`. This endpoint does not support adding a user to a waiting list using a cross-regional client pricing option(service). Cross-regional booking workflows do not support client service scheduling restrictions.\r\n\r\nWhen performing a cross-regional class booking, this endpoint loops through the first ten sites that the client is associated with, looks for client pricing options at each of those sites, and then uses the oldest client pricing option found.It is important to note that this endpoint only loops through a maximum of ten associated client sites. If a `ClientID` is associated with more than ten sites in an organization, this endpoint only loops through the first ten.If you know that a client has a client service at another site, you can specify that site using the `CrossRegionalBookingClientServiceSiteId` query parameter.\r\n\r\nIf you perform a cross-regional booking, two additional fields are included in the `SessionType` object of the response:\r\n* `SiteID`, which specifies where the client service is coming from\r\n* `CrossRegionalBookingPerformed`, a Boolean field that is set to `true`\r\n\r\nAs a prerequisite to using this endpoint, your `SourceName` must have been granted access to the organization to which the site belongs.\r\n            \r\nNote: Request deduplication is enabled for this endpoint. More information can be found in the [Request Deduplication Page](https://developers.mindbodyonline.com/ui/documentation/public-api#/net-standard-library/mindbody-public-api-v6-0/request-deduplication).\r\nUse the `X-RequestDeduplication-Skip` header to bypass deduplication if necessary. This may be useful in scenarios where you want to ensure a new appointment is created regardless of previous identical requests.","operationId":"AddClientToClass","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.ClassController.AddClientToClassRequest"}},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.ClassController.AddClientToClassResponse"}}}}},"/public/v{version}/class/cancelsingleclass":{"post":{"tags":["Class"],"summary":"Cancels a single class instance.","description":"This endpoint will cancel a single class from studio.","operationId":"CancelSingleClass","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.ClassController.CancelSingleClassRequest"}},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.ClassController.CancelSingleClassResponse"}}}}},"/public/v{version}/class/removeclientfromclass":{"post":{"tags":["Class"],"summary":"Remove a client from a class.","operationId":"RemoveClientFromClass","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.ClassController.RemoveClientFromClassRequest"}},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.ClassController.RemoveClientFromClassResponse"}}}}},"/public/v{version}/class/removeclientsfromclasses":{"post":{"tags":["Class"],"summary":"Remove a clients from a classes.","description":"This endpoint can be utilized for removing multiple clients from multiple classes in one request.","operationId":"RemoveClientsFromClasses","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.ClassController.RemoveClientsFromClassesRequest"}},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.ClassController.RemoveClientsFromClassesResponse"}}}}},"/public/v{version}/class/removefromwaitlist":{"post":{"tags":["Class"],"summary":"Remove a client from a waiting list.","description":"This endpoint does not return a response. If a call to this endpoint results in a 200 OK HTTP status code, then the call was successful.","operationId":"RemoveFromWaitlist","consumes":[],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"request.waitlistEntryIds","in":"query","description":"A list of `WaitlistEntryIds` to remove from the waiting list.","required":true,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.ClassController.RemoveFromWaitlistResponse"}}}}},"/public/v{version}/class/substituteclassteacher":{"post":{"tags":["Class"],"summary":"Substitute a class teacher.","operationId":"SubstituteClassTeacher","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.ClassController.SubstituteClassTeacherRequest"}},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.ClassController.SubstituteClassTeacherResponse"}}}}},"/public/v{version}/class/updateclass":{"post":{"tags":["Class"],"summary":"Update properties of an existing class.","description":"This endpoint updates one or more editable properties of a class identified by the provided ClassId.\r\nSupported properties include class-level attributes such as the theme name and other configurable values\r\nsupplied in the request payload.\r\n\r\nIt is recommended to use this endpoint in the following scenarios:\r\n* When an existing class needs to be updated without creating a new class.\r\n* When modifying class metadata that affects how the class is displayed or categorized.\r\n\r\nThe request must include a valid ClassId. If the ClassId is missing or less than or equal to zero,\r\nthe request is rejected with a validation error.\r\n\r\nThe request body is mapped into an internal update model and processed by the class engine. Only the properties\r\nprovided in the request are updated. All other class attributes remain unchanged, subject to business rules\r\nand validation constraints.\r\n\r\nA successful request returns HTTP 202 Accepted, indicating that the update request has been accepted\r\nfor processing. No response body is returned.\r\n\r\nAs a prerequisite to calling this endpoint, the caller’s SourceName must be authorized to update class\r\ndata for the site associated with the specified class.","operationId":"UpdateClass","consumes":["application/json","text/json","application/x-www-form-urlencoded","multipart/form-data"],"produces":[],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.ClassController.UpdateClassRequest"}},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"202":{"description":"The class update request was accepted for processing."}}}},"/public/v{version}/class/updateclassschedule":{"post":{"tags":["Class"],"summary":"This endpoint updates a class schedule.","description":"This endpoint updates a class schedule.","operationId":"UpdateClassSchedule","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"request","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.UpdateClassEnrollmentScheduleRequest"}},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Data.Models.WrittenClassSchedulesInfo"}}}}},"/public/v{version}/class/updateclassschedulenotes/{classScheduleId}":{"patch":{"tags":["Class"],"summary":"This endpoint updates a class schedule notes.","description":"This endpoint updates the notes of class instances based on the schedule's schedule ID.\r\nNote: Every coming class instance for the given ScheduleID will have the notes updated the same way.","operationId":"UpdateClassScheduleNotes","consumes":["application/json","text/json","application/x-www-form-urlencoded","multipart/form-data"],"produces":[],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"classScheduleId","in":"path","description":"","required":true,"type":"integer","format":"int32"},{"name":"request","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.ClassController.UpdateClassScheduleNotesRequest"}},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"204":{"description":"No Content"}}}},"/public/v{version}/client/activeclientmemberships":{"get":{"tags":["Client"],"summary":"Get a client's active memberships.","description":"Please note that client memberships with location restrictions can only be used to pay for scheduled services at the site to which they belong. Memberships with location restrictions can not be used to pay for scheduled services at other sites within an organization.","operationId":"GetActiveClientMemberships","consumes":[],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"request.clientAssociatedSitesOffset","in":"query","description":"Used to retrieve a client’s memberships from multiple sites within an organization when the client is associated with more than ten sites. To change which ten sites are searched, change this offset value. A value of 0 means that no sites are skipped and the first ten sites are returned. You can use the `CrossRegionalClientAssociations` value from `GET CrossRegionalClientAssociations` to determine how many sites the client is associated with. Note that you must always have `CrossRegionalLookup` set to `true` to use this parameter.<br />\r\nDefault: **0**\r\n\r\nFor example, if a client is associated with 25 sites, you need to call GET `ActiveClientMemberships` three times, as follows:\r\n* Use GET `CrossRegionalClientAssociations` to determine how many sites a client is associated with, which tells you how many additional calls you need to make.\r\n* Either omit `ClientAssociatedSitesOffset` or set it to 0 to return the client’s memberships from sites 1-10\r\n* Set `ClientAssociatedSitesOffset` to 10 to return the client’s memberships from sites 11-20\r\n* Set `ClientAssociatedSitesOffset` to 20 to return the client’s memberships from sites 21-25","required":false,"type":"integer","format":"int32"},{"name":"request.crossRegionalLookup","in":"query","description":"Used to retrieve a client’s memberships from multiple sites within an organization. When included and set to `true`, it searches a maximum of ten sites with which this client is associated. When a client is associated with more than ten sites, use `ClientAssociatedSitesOffset` as many times as needed to search the additional sites with which the client is associated. You can use the `CrossRegionalClientAssociations` value from `GET CrossRegionalClientAssociations` to determine how many sites the client is associated with. Note that a `SiteID` is returned and populated in the `ClientServices` response when `CrossRegionalLookup` is set to `true`.\r\nDefault: **false**","required":false,"type":"boolean"},{"name":"request.limit","in":"query","description":"Number of results to include, defaults to 100","required":false,"type":"integer","format":"int32"},{"name":"request.locationId","in":"query","description":"Filters results to memberships that can be used to pay for scheduled services at that location. This parameter can not be passed when `CrossRegionalLookup` is `true`.","required":false,"type":"integer","format":"int32"},{"name":"request.offset","in":"query","description":"Page offset, defaults to 0.","required":false,"type":"integer","format":"int32"},{"name":"request.uniqueClientId","in":"query","description":"The Unique ID of the client for whom memberships are returned. Note that UniqueClientId takes precedence over ClientId if both are provided.","required":false,"type":"integer","format":"int64"},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"request.clientId","in":"query","description":"The ID of the client for whom memberships are returned.","required":true,"type":"string"},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.ClientController.GetActiveClientMembershipsResponse"}}}}},"/public/v{version}/client/activeclientsmemberships":{"get":{"tags":["Client"],"summary":"Get a client's active memberships.","description":"The endpoint returns a list of memberships for multiple clients we pass in query parameter. Please note that clients memberships with location restrictions can only be used to pay for scheduled services at the site to which they belong. Memberships with location restrictions can not be used to pay for scheduled services at other sites within an organization.","operationId":"GetActiveClientsMemberships","consumes":[],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"request.clientAssociatedSitesOffset","in":"query","description":"Used to retrieve a client’s memberships from multiple sites within an organization when the client is associated with more than ten sites. To change which ten sites are searched, change this offset value. A value of 0 means that no sites are skipped and the first ten sites are returned. You can use the `CrossRegionalClientAssociations` value from `GET CrossRegionalClientAssociations` to determine how many sites the client is associated with. Note that you must always have `CrossRegionalLookup` set to `true` to use this parameter.<br />\r\nDefault: **0**\r\n\r\nFor example, if a client is associated with 25 sites, you need to call `GetClientServices` three times, as follows:\r\n* Use `GET CrossRegionalClientAssociations` to determine how many sites a client is associated with, which tells you how many additional calls you need to make.\r\n* Either omit `ClientAssociatedSitesOffset` or set it to 0 to return the client’s services (pricing options) from sites 1-10.\r\n* Set `ClientAssociatedSitesOffset` to 10 to return the client pricing options from sites 11-20\r\n* Set `ClientAssociatedSitesOffset` to 20 to return the client pricing options from sites 21-25","required":false,"type":"integer","format":"int32"},{"name":"request.crossRegionalLookup","in":"query","description":"Used to retrieve a client’s memberships from multiple sites within an organization. When included and set to `true`, it searches a maximum of ten sites with which this client is associated. When a client is associated with more than ten sites, use `ClientAssociatedSitesOffset` as many times as needed to search the additional sites with which the client is associated. You can use the `CrossRegionalClientAssociations` value from `GET CrossRegionalClientAssociations` to determine how many sites the client is associated with. Note that a `SiteID` is returned and populated in the `ClientServices` response when `CrossRegionalLookup` is set to `true`.\r\nDefault: **false**","required":false,"type":"boolean"},{"name":"request.limit","in":"query","description":"Number of results to include, defaults to 100","required":false,"type":"integer","format":"int32"},{"name":"request.locationId","in":"query","description":"Filters results to memberships that can be used to pay for scheduled services at that location. This parameter can not be passed when `CrossRegionalLookup` is `true`.","required":false,"type":"integer","format":"int32"},{"name":"request.offset","in":"query","description":"Page offset, defaults to 0.","required":false,"type":"integer","format":"int32"},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"request.clientIds","in":"query","description":"The ID of the client for whom memberships are returned. Maximum allowed : 200.","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.ClientController.GetActiveClientsMembershipsResponse"}}}}},"/public/v{version}/client/clientaccountbalances":{"get":{"tags":["Client"],"summary":"Get account balance information for one or more client(s).","operationId":"GetClientAccountBalances","consumes":[],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"request.balanceDate","in":"query","description":"The date you want a balance relative to. \r\nDefault: **the current date**","required":false,"type":"string","format":"date-time"},{"name":"request.classId","in":"query","description":"The class ID of the event for which you want a balance.","required":false,"type":"integer","format":"int32"},{"name":"request.limit","in":"query","description":"Number of results to include, defaults to 100","required":false,"type":"integer","format":"int32"},{"name":"request.offset","in":"query","description":"Page offset, defaults to 0.","required":false,"type":"integer","format":"int32"},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"request.clientIds","in":"query","description":"The list of clients IDs for which you want account balances.","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.ClientController.GetClientAccountBalancesResponse"}}}}},"/public/v{version}/client/clientcompleteinfo":{"get":{"tags":["Client"],"summary":"Get Services, Contracts, MemberShips and Arrivals for Client as per requirement","description":"This endpoint returns complete client information along with list of purchased services, contract details, membership details and arrival programs for a specific client.","operationId":"GetClientCompleteInfo","consumes":[],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"consumer-identity-token","in":"header","description":"A consumers authorization token to replace the need of clientId in the request.","required":false,"type":"string","default":""},{"name":"request.clientAssociatedSitesOffset","in":"query","description":"Used to retrieve a client’s pricing options from multiple sites within an organization when the client is associated with more than ten sites. To change which ten sites are searched, change this offset value. A value of 0 means that no sites are skipped and the first ten sites are returned. You can use the `CrossRegionalClientAssociations` value from `GET CrossRegionalClientAssociations` to determine how many sites the client is associated with. Note that you must always have `CrossRegionalLookup` set to `true` to use this parameter.<br />\r\nDefault: **0**\r\n\r\nFor example, if a client is associated with 25 sites, you need to call `GetClientServices` three times, as follows:\r\n* Use `GET CrossRegionalClientAssociations` to determine how many sites a client is associated with, which tells you how many additional calls you need to make.\r\n* Either omit `ClientAssociatedSitesOffset` or set it to 0 to return the client’s services (pricing options) from sites 1-10.\r\n* Set `ClientAssociatedSitesOffset` to 10 to return the client pricing options from sites 11-20\r\n* Set `ClientAssociatedSitesOffset` to 20 to return the client pricing options from sites 21-25","required":false,"type":"integer","format":"int32"},{"name":"request.crossRegionalLookup","in":"query","description":"Used to retrieve a clients pricing options from multiple sites within an organization.When included and set to `true`,\r\nit searches a maximum of ten sites with which this client is associated.When a client is associated with more than ten sites, use `ClientAssociatedSitesOffset` as many times as needed to search the additional sites with which the client is associated.\r\nYou can use the `CrossRegionalClientAssociations` value from `GET CrossRegionalClientAssociations` to determine how many sites the client is associated with. \r\nNote that a `SiteID` is returned and populated in the `ClientServices` response when `CrossRegionalLookup` is set to `true`.\r\n Default: **false**","required":false,"type":"boolean"},{"name":"request.endDate","in":"query","description":"Filters results to pricing options that are purchased on or before this date. \r\nDefault: **today’s date**.","required":false,"type":"string","format":"date-time"},{"name":"request.excludeInactiveSites","in":"query","description":"When this flag is set to `true`, will exclude inactive sites from the response\r\nDefault: **false**","required":false,"type":"boolean"},{"name":"request.requiredClientData","in":"query","description":"Used to retrieve list of purchased services, contract details, membership details and arrival programs for a specific client. \r\nDefault `ClientServices`, `ClientContracts`, `ClientMemberships` and `ClientArrivals` will be returned when `RequiredClientDatais` not set. \r\nWhen `RequiredClientData` is set to `Contracts` then only `ClientContracts` will be returned in the response. \r\nWhen `RequiredClientData` is set to Services then only `ClientServices` will be returned in the response.\r\nWhen `RequiredClientData` is set to `Memberships` then only `ClientMemberships` will be returned in the response. \r\nWhen `RequiredClientData` is set to `ArrivalPrograms` then only `ClientArrivals` will be returned in the response.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"request.showActiveOnly","in":"query","description":"When `true`, includes active services only. Set this field to `true` when trying to determine if a client has a \r\nservice that can pay for a class or appointment.\r\nDefault: **false**","required":false,"type":"boolean"},{"name":"request.startDate","in":"query","description":"Filters results to pricing options that are purchased on or after this date. \r\nDefault: **today’s date**.","required":false,"type":"string","format":"date-time"},{"name":"request.uniqueClientId","in":"query","description":"The unique ID of the client who is viewing this class list.","required":false,"type":"integer","format":"int64"},{"name":"request.useActivateDate","in":"query","description":"When this flag is set to `true`, the date filtering will use activate date to filter the pricing options.\r\nWhen this flag is set to `false`, the date filtering will use purchase date to filter the pricing options.\r\nDefault: **false**","required":false,"type":"boolean"},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"request.clientId","in":"query","description":"Filters results to client with these ID.","required":true,"type":"string"},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.ClientController.GetClientCompleteInfoResponse"}}}}},"/public/v{version}/client/clientcontracts":{"get":{"tags":["Client"],"summary":"Get contracts that a client has purchased.","operationId":"GetClientContracts","consumes":[],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"request.clientAssociatedSitesOffset","in":"query","description":"Determines how many sites are skipped over when retrieving a client’s cross regional contracts. Used when a client ID is linked to more than ten sites in an organization. Only a maximum of ten site databases are queried when this call is made and `CrossRegionalLookup` is set to `true`. To change which sites are queried, change this offset value.\r\nDefault: **0**","required":false,"type":"integer","format":"int32"},{"name":"request.crossRegionalLookup","in":"query","description":"When `true`, indicates that the requesting client’s cross regional contracts are returned, if any.<br />\r\nWhen `false`, indicates that cross regional contracts are not returned.","required":false,"type":"boolean"},{"name":"request.limit","in":"query","description":"Number of results to include, defaults to 100","required":false,"type":"integer","format":"int32"},{"name":"request.offset","in":"query","description":"Page offset, defaults to 0.","required":false,"type":"integer","format":"int32"},{"name":"request.uniqueClientId","in":"query","description":"The unique ID of the requested client.","required":false,"type":"integer","format":"int64"},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"request.clientId","in":"query","description":"The ID of the client (RssId).","required":true,"type":"string"},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.ClientController.GetClientContractsResponse"}}}}},"/public/v{version}/client/clientdirectdebitinfo":{"get":{"tags":["Client"],"summary":"Get direct debit info for a client.","description":"This endpoint returns direct debit info stored on a client's account. This endpoint requires staff user credentials.\r\n            \r\nA null response from this endpoint indicates that the client has no usable direct debit information on their account.Use the POST AddClientDirectDebitInfo endpoint to add direct debit information to a client’s account.","operationId":"GetDirectDebitInfo","consumes":[],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"clientId","in":"query","description":"The ID of the client.","required":false,"type":"string"},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.DirectDebitInfo"}}}},"delete":{"tags":["Client"],"summary":"Delete direct debit info for a client.","description":"This endpoint deletes direct debit info from a client’s account. This endpoint requires staff user credentials.","operationId":"DeleteDirectDebitInfo","consumes":[],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"clientId","in":"query","description":"The ID of the client.","required":false,"type":"string"},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint does not return a response. \r\n            If a call to this endpoint results in a 200 OK HTTP status code, \r\n            then the call was successful.","schema":{"type":"object"}}}}},"/public/v{version}/client/clientduplicates":{"get":{"tags":["Client"],"summary":"Get client records that would be considered duplicates of the client values passed in.","description":"This endpoint gets client records that would be considered duplicates based on case-insensitive matching of the client's first name, last name, and email. For there to be results, all three parameters must match a client record. This endpoint requires staff user credentials.\r\n            \r\nAn empty `ClientDuplicates` object in the response from this endpoint indicates that there were no client records found that match the first name, last name, and email fields passed in.\r\n            \r\nIf one client record is returned, it is not a duplicate itself, but no other client record can be created or updated that would match this client's first name, last name, and email combination.\r\n            \r\nIf more than one client record is returned, these clients are duplicates of each other.We recommend discussing with the business how they would like to resolve duplicate records in the event the response contains more than one client record.Businesses can use the Merge Duplicate Clients tool in the Core Business Mode software to resolve the duplicate client records.","operationId":"GetClientDuplicates","consumes":[],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"request.email","in":"query","description":"The client email to match on when searching for duplicates.","required":false,"type":"string"},{"name":"request.firstName","in":"query","description":"The client first name to match on when searching for duplicates.","required":false,"type":"string"},{"name":"request.lastName","in":"query","description":"The client last name to match on when searching for duplicates.","required":false,"type":"string"},{"name":"request.limit","in":"query","description":"Number of results to include, defaults to 100","required":false,"type":"integer","format":"int32"},{"name":"request.offset","in":"query","description":"Page offset, defaults to 0.","required":false,"type":"integer","format":"int32"},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.ClientController.GetClientDuplicatesResponse"}}}}},"/public/v{version}/client/clientformulanotes":{"get":{"tags":["Client"],"summary":"Get a client's formula notes.","description":"***QueryParams***: Enables to retrieve cross regional formula notes for a client, or for a specific appointment. The two parameters are optional, however at least one must be provided. This endpoint supports pagination.","operationId":"GetClientFormulaNotes","consumes":[],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"request.appointmentId","in":"query","description":"The appointment ID of an appointment in the studio specified in the header of the request.","required":false,"type":"integer","format":"int64"},{"name":"request.clientId","in":"query","description":"The client ID of the client whose formula notes are being requested.","required":false,"type":"string"},{"name":"request.limit","in":"query","description":"Number of results to include, defaults to 100","required":false,"type":"integer","format":"int32"},{"name":"request.offset","in":"query","description":"Page offset, defaults to 0.","required":false,"type":"integer","format":"int32"},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.ClientController.GetClientFormulaNotesResponse"}}}}},"/public/v{version}/client/clientindexes":{"get":{"tags":["Client"],"summary":"Get a site's configured client indexes and client index values.","description":"Client indexes are used to analyze client demographics. A business owner can set up different categories with sets of values which they can assign to each client. Client indexes are used in client searches, for tagging clients so that the owner can send mass emails to similar groups, and for many reports.\r\n\r\nFor more information, see Client Indexes and [Client Index Values (video tutorial)](https://support.mindbodyonline.com/s/article/203261653-Client-indexes-and-client-index-values-video-tutorial?language=en_USclient).","operationId":"GetClientIndexes","consumes":[],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"request.requiredOnly","in":"query","description":"When `true`, filters the results to only indexes that are required on creation.<br />\r\nWhen `false` or omitted, returns all of the client indexes.","required":false,"type":"boolean"},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.ClientController.GetClientIndexesResponse"}}}}},"/public/v{version}/client/clientpurchases":{"get":{"tags":["Client"],"summary":"Get a client's purchase history.","description":"Gets a list of purchases made by a specific client.","operationId":"GetClientPurchases","consumes":[],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"request.endDate","in":"query","description":"Filters results to purchases made before this timestamp.<br />\r\nDefault: **end of today**","required":false,"type":"string","format":"date-time"},{"name":"request.limit","in":"query","description":"Number of results to include, defaults to 100","required":false,"type":"integer","format":"int32"},{"name":"request.offset","in":"query","description":"Page offset, defaults to 0.","required":false,"type":"integer","format":"int32"},{"name":"request.saleId","in":"query","description":"Filters results to the single record associated with this ID.","required":false,"type":"integer","format":"int32"},{"name":"request.startDate","in":"query","description":"Filters results to purchases made on or after this timestamp.<br />\r\nDefault: **now**","required":false,"type":"string","format":"date-time"},{"name":"request.uniqueClientId","in":"query","description":"The unique ID of the requested client.","required":false,"type":"integer","format":"int64"},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"request.clientId","in":"query","description":"The ID of the client you are querying for purchases.","required":true,"type":"string"},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.ClientController.GetClientPurchasesResponse"}}}}},"/public/v{version}/client/clientreferraltypes":{"get":{"tags":["Client"],"summary":"Get a site's configured client referral types.","description":"Gets a list of referral types. Referral types are options that new clients can choose to identify how they learned about the business. Referral types are typically used for the sign-up process.","operationId":"GetClientReferralTypes","consumes":[],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"request.includeInactive","in":"query","description":"When `true`, filters the results to include subtypes and inactive referral types.<br />\r\nWhen `false`, includes no subtypes and only active types.\r\nDefault:**false**","required":false,"type":"boolean"},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.ClientController.GetClientReferralTypesResponse"}}}}},"/public/v{version}/client/clientrewards":{"get":{"tags":["Client"],"summary":"Gets the client rewards.","operationId":"GetClientRewards","consumes":[],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"request.endDate","in":"query","description":"The end date of transaction.\r\nDefault: **StartDate**","required":false,"type":"string","format":"date-time"},{"name":"request.limit","in":"query","description":"Number of results to include, defaults to 100","required":false,"type":"integer","format":"int32"},{"name":"request.offset","in":"query","description":"Page offset, defaults to 0.","required":false,"type":"integer","format":"int32"},{"name":"request.startDate","in":"query","description":"The start date of transaction.\r\nDefault: **today**","required":false,"type":"string","format":"date-time"},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"request.clientId","in":"query","description":"The ID of the client.","required":true,"type":"string"},{"name":"siteId","in":"header","description":"ID of the site from which to pull data.","required":true,"type":"string","default":"-99"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.ClientController.GetClientRewardsResponse"}}}},"post":{"tags":["Client"],"summary":"Update Client Reward","description":"Earns or redeems rewards points for a given client, based on site settings. Cross regional rewards are not supported at this time.","operationId":"UpdateClientRewards","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml","multipart/form-data"],"parameters":[{"name":"authorization","in":"header","description":"A staff user authorization token.","required":false,"type":"string","default":""},{"name":"version","in":"header","description":"version of the api.","required":false,"type":"string","default":"6"},{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Mindbody.PublicApi.Dto.Models.V6.ClientController
[...]
